.main {
  width: 100vw;
  height: 100vh;
  background: #56ab2f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #a8e063, #56ab2f); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #a8e063,
    #56ab2f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.section {
  width: 95vw;
  height: 100%;
  margin-top: 0px;
  justify-content: center;
}

.header {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.sub-heading {
  text-align: center;
}

.flex-item {
  margin: 20px 0;
  text-align: start;
}

.login {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10%;
}

button {
  background-color: #3b3a49;
}

.login-input {
  color: white;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  background-color: #3d5a14 !important;
  color: #555 !important;
  -webkit-box-shadow: 0 0 0 1000px #72b125 inset !important;
  -webkit-text-fill-color: white !important;
  padding: 10px;
}

h1,
h3 {
  color: white;
}

@media (min-width: 40rem) {
  .section {
    width: 350px;
  }

  .sub-heading {
    margin-left: 160px;
  }
}
