.toolbar {
  margin: 80px;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.toolbar > ul {
  list-style-type: none;
}

.heading {
  margin: 20px;
  margin-top: 100px;
}

.progress-heading {
  margin: 20px;
}

.flex-grid {
  display: flex;
  flex-flow: column;
}

.col {
  /* margin: 10px 0;
  padding: 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-between; */
  flex: 1;
  margin: 10px;
  padding: 10px;
  background-color: rgba(244, 244, 244, 0.54);
}

.card-item-info {
  margin: 20px;
}

.page__progress {
  margin: auto;
  width: 95%;
}

.progress__category {
  display: flex;
  flex-flow: column;
}

.button-link {
  margin: 20px 0;
}

.progress__item {
  margin: 10px 0;
  padding: 20px;
  background-color: #f9f9f9;
}

.category__item {
  display: flex;
  flex-flow: column;
  margin: 10px 0;
  padding: 20px;
  background-color: #f0f0f1;
}

h4 {
  margin-top: 20px;
}

@media (min-width: 70rem) {
  .page {
    margin: 100px;
  }

  .page__progress {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .progress-item {
    display: flex;
    flex-flow: column;
    flex: 1;
    margin: 20px;
  }

  .flex-grid {
    width: 99%;
    flex-flow: row;
    /* flex-flow: column;
    margin: 10px 0; */
  }
}
