mat-form-field {
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.paginator {
  width: 100%;
}

.section__header {
  width: 100%;
  background-color: azure;
  padding-bottom: 20px;
}

.section {
  width: 100vw;
}

.edit-mode {
  background-color: #2e2b2b;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  align-items: center;
}

.toolbar > div {
  margin: 20px;
}

.contact__badge {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__badge-icon {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(225, 225, 225, 0.87);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.contact__badge-title {
  margin-top: 10px;
}

.toolbar > a {
  margin: 20px;
  background-color: transparent;
  color: var(--dark-text);
}

.toolbar > div.back-button {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  align-items: center;
}

.mat-toolbar-single-row {
  line-height: 0;
  justify-content: space-between;
}

.page__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}

.page__title-badge-icon {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(225, 225, 225, 0.87);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.page__title-toolbar {
  display: flex;
  justify-content: center;
}

.page__title-toolbar-label,
.page__title-toolbar-button {
  margin: 10px;
}

.list {
  height: 100%;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list__item {
  width: 95%;
}

.list__item-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.list__item-content {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.list__item-name {
  text-align: left;
}

.list__item-name-description {
  display: flex;
  flex: 2;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0;
  text-align: start;
}

.list__item-value {
  display: flex;
  font-size: var(--default-text-size);
  text-align: right;
}

.list__item-action {
  margin: 35px 20px;
}

.list__item-details {
  flex: 1;
  margin: 4px 20px;
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  justify-content: center;
}

.list__item-details > ul {
  list-style-type: none;
  text-align: left;
}

.list__item-input {
  font-size: small;
  text-align: left;
  width: 25%;
}

.list__item-input-toolbar {
  display: flex;
  flex-direction: column;
}

.list__item-input-toolbar-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
  width: 100%;
}

.list__item-input-toolbar-items > button {
  margin-left: 20px;
  width: 80px;
}

.tool-item {
  width: 30px;
  height: 30px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  color: var(--dark-text);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tool-item:hover {
  background-color: var(--blue);
  color: white;
}

.delete {
  background-color: var(--dark-text);
  color: white;
}

.mat-list-item {
  height: auto !important;
  width: 100% !important;
}

mat-error {
  color: var(mat-error);
  margin: auto;
  flex: 1;
}
mat-action-row {
  display: flex;
}

input,
.mat-select {
  color: var(--dark-text) !important;
  border: 1px solid rgb(235, 230, 230);
  padding: 10px;
  text-align: left;
  flex: 1;
}

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid gray;
  padding: 10px;
  font-size: 1rem;
}

.main__search-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.main__search-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main__search-form > input {
  width: 70%;
  /* margin-left: 20px; */
  text-align: center;
  height: 50px;
  border: 1px solid #ccc;
  color: var(--dark-text);
  background-color: white;
  margin: 10px;
}

.main__search-form > button {
  height: 60px;
}

button {
  display: flex;
  justify-content: center;
  text-align: center !important;
  color: var(--dark-text);
  background-color: transparent;
}

form {
  width: 100%;
}

/* ipad pro and larger breakpoint 40 x 16 px */
@media (min-width: 40rem) {
  table {
    width: 100%;
  }

  tr.mat-header-row,
  tr.mat-row {
    height: 100px !important;
  }
  tr.mat-header-row {
    font-weight: 500;
  }
  tr.mat-row:hover {
    background-color: var(--hover-green);
    cursor: pointer;
  }
  .mat-header-cell,
  .mat-cell {
    font-size: inherit;
    font-weight: 500;
    color: inherit;
  }

  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type,
  th.mat-header-cell:first-of-type {
    padding-left: 100px !important;
  }

  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type,
  th.mat-header-cell:last-of-type {
    padding-right: 20px;
    text-align: right;
  }

  .section {
    width: 100%;
  }
  .main__search-form {
    width: 70%;
  }
  .toolbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .space-between {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: grey;
  }

  .launch-numpad {
    margin: auto 20px;
  }

  .list__item-input-toolbar {
    display: flex;
    flex-direction: row;
  }

  .list__item-input-toolbar-items {
    width: 100%;
  }

  .toolbar > div.back-button {
    margin: 20px 110px;
  }

  .list {
    width: 70%;
  }
  .list__item {
    justify-content: flex-start;
    width: 100%;
    margin: 5px 0px;
  }
  .list__item-space-between {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0px;
  }
}
