.create-form .input,
.create-form .hint {
  color: black;
}

mat-form-field {
  width: 100%;
  margin-bottom: 30px;
}

.section {
  width: 100vw;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  justify-content: space-around;
}

.toolbar {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.toolbar > div.back-button {
  flex: 2;
  text-align: left;
}

.toolbar > div.main__title {
  flex: 2;
}

.toolbar > div.spacer {
  flex: 2;
}
.toolbar > div {
  margin: 20px;
}

.main__title {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__header {
  width: 100vw;
  background-color: azure;
  padding-bottom: 20px;
}

.main__title > h1 {
  margin: 20px 0;
}

.list {
  height: 100%;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list__item {
  margin-top: 30px;
  width: 85%;
}

form {
  width: 100%;
}

@media (min-width: 40rem) {
  .section {
    width: 100%;
  }

  .toolbar {
    width: 100%;
  }

  /* .list__item-edit-tools {
    flex: 0;
    margin-right: 10px;
  } */
  .list {
    width: 100%;
  }

  .list__item {
    width: 60%;
  }
  .list__item-input-toolbar {
    display: flex;
    flex-direction: row;
  }

  .list__item-input-toolbar-items {
    width: 100%;
  }
}
