<ng-container *ngIf="isLoading">
  <app-loader></app-loader>
</ng-container>

<ng-container *ngIf="!isLoading">
  <section class="section fadeIn">
    <div class="section__header">
      <div
        class="toolbar"
        style="justify-content: flex-start; margin-top: 20px;
      margin-left: 120px;"
      >
        <div>
          <a [routerLink]="['/menus/' + this.selectedId + '/details']"><i class="fas fa-chevron-left med-icon"></i></a>
        </div>
        <div>
          <!-- <a [routerLink]="['/menus/' + this.selectedId + '/details']"><i class="fas fa-chevron-left med-icon"></i></a> -->
        </div>
      </div>

      <div class="page__title">
        <div>
          <h1>{{ this.menu.menu_name }}</h1>
          <h6>add a dish</h6>
        </div>
        <br /><br />
        <button class="fas fa-search xlarge-icon" (click)="showSearch = true"></button> <br />
      </div>

      <div class="main__search-container">
        <form class="main__search-form">
          <input
            type="text"
            id="dish-input-text"
            [ngClass]="{ hidden: !showSearch, visible: showSearch }"
            #searchinput
            [(ngModel)]="searchTerm"
            name="search"
            placeholder="  search....."
          />
          <button [ngClass]="{ hidden: !showSearch, visible: showSearch }" (click)="search(searchTerm)">Go</button>
        </form>
      </div>
    </div>
    <div class="toolbar" *ngIf="searchFoundNothing">
      <mat-toolbar style="background: var(--accent) ;">
        <div>
          <h2 style="color: white;">Your search found 0 results</h2>
        </div>
      </mat-toolbar>
    </div>

    <div class="toolbar">
      <mat-toolbar>
        <div><h2>List of dishes</h2></div>
      </mat-toolbar>
    </div>

    <div class="list" *ngIf="dishes.length > 0">
      <mat-divider></mat-divider>

      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let dish of dishes">
        <div class="list__item" aria-label="view the details of this dish">
          <div class="list__item-details">
            <div class=" list__item-name">{{ dish.name }}</div>
          </div>
          <button class="list__item-action" aria-label="navigate to menu details" (click)="onAddDishToMenu(dish.uuid)">
            <i class="material-icons" aria-label="add this dish to the selected menu">add</i>
          </button>
        </div>

        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-paginator
        class="paginator"
        *ngIf="dishCount !== 0"
        [pageSize]="postsPerPage"
        [pageIndex]="pageIndex"
        [length]="dishCount"
        [pageSizeOptions]="[5, 10, 25]"
        (page)="onChangedPage($event)"
      ></mat-paginator>
    </div>
  </section>
</ng-container>
